<fieldset class="fieldset create account" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
    <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Additional Information') ?></span></legend>
    <p>
    <div class="field member_card">
        <label for="member_card" class="label"><span><?php /* @escapeNotVerified */
                echo __('Member Card') ?></span></label>
        <div class="control">
            <input type="text" name="member_card" id="member_card" title="<?php /* @escapeNotVerified */ echo __('Member Card') ?>" class="input-text" data-validate="{required:false}">
        </div>
    </div>
    </p>
    <p>
    <div class="field skin_type">
        <label for="skin_type" class="label"><span><?php /* @escapeNotVerified */
                echo __('Skin Type') ?></span></label>
        <div class="control">
            <input type="select" name="skin_type" id="skin_type" title="<?php /* @escapeNotVerified */ echo __('Skin Type') ?>" class="input-text" data-validate="{required:false}">
        </div>
    </div>
    </p>	
</fieldset>